<div class="step--container">
  <div class="step--active">
    <div class="step--current step-1">
      <span class="step-num active">1</span>
      <p class="step-text">STEP 1</p>
      <p class="step-title">YOUR INFO</p>
    </div>
    <div class="step--current step-2">
      <span class="step-num">2</span>
      <p class="step-text">STEP 2</p>
      <p class="step-title">SELECT PLAN</p>
    </div>
    <div class="step--current step-3">
      <span class="step-num">3</span>
      <p class="step-text">STEP 3</p>
      <p class="step-title">ADD-ONS</p>
    </div>
    <div class="step--current step-4">
      <span class="step-num">4</span>
      <p class="step-text">STEP 4</p>
      <p class="step-title">SUMMARY</p>
    </div>
  </div>
</div>
